---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main role="main">

    {% include navigation.html %}

    {{ content }}

  </main>

</body>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      CommonHTML: {
        scale: 90
      },
      "HTML-CSS": {
        scale: 90
      },
      NativeMML: {
        scale: 90
      },
      SVG: {
        scale: 90
      },
      PreviewHTML: {
        scale: 90
      }
    });
    </script>

</html>